body{
    background-color:black;
}
.top_bar2{
    top: 0px;
    left: 2.5%;
    width: 95%;
    height: 50px;
    background-color:black;
    position: relative;
}
.work2{
    font-size: 3em;
    left: 50px;
    color: white;
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.about2{
    font-size: 3em;
    right: 50px;
    color: white;
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.personal_description{
    font-size: 2.5em;
    left: 10%;
    position: absolute;
    top: 230px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.personal_description1{
    font-size: 2em;
    left: 10%;
    position: absolute;
    top: 300px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.photo{
    right: 20%;
    top: 550px;
    width: 30%;
    position: absolute;
}

.photo2{
    right: 1060px;
    top: 1450px;
    width: 30%;
    position: absolute;
}

.line{
    background-color: white;
    position: absolute;
    top: 1600px;
    height: 3px;
    left: 5%;
    width: 90%;
}

.instagram_icon2{
    position: absolute;
    top: 2400px;
    right: 350px;
}

.twitter_icon2{
    position: absolute;
    top: 2400px;
    right: 270px;
}

.facebook_icon2{
    position: absolute;
    top: 2400px;
    right: 190px;
}

.empty2{
    width: 90%;
    left: 5%;
    height: 3px;
    top: 2350px;
    background-color: white;
    position: absolute;
}



/*-----------SMART PHONES ----------*/
@media only screen and (max-width:800px){


}


/*----------TABLETS----------*/
@media only screen and (min-width:800px) and (max-width:1280px){



}