.top_bars{
    padding: 0;
    margin:0;
    height: 50px;
    background-color: yellow;
}
.photo{
    width: 100%;
    height:300px;
    background-color: aqua;
    position: relative;
}
.descriptions{
    width: 32%;
    height: 110px;
    position:absolute;
    top: 50px;
    left: 50px;
    background-color: yellow;

}
.works{
    width: 100%;
    height: 250px;
    top: 10px;
    background-color: aqua;
    position:relative;
}
.descriptions2{
    width: 30%;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 35%;
    background-color: yellow;
}
.photos2{
    width: 94%;
    height: 80%;
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: yellow;
}
.progress{
    width: 100%;
    height: 220px;
    top: 20px;
    background-color: aqua;
    position: relative;
}
.photos3{
    width: 80%;
    height: 165px;
    position: absolute;
    top: 22px;
    left: 70px;
    background-color: yellow
}
.descriptions3{
    width: 22%;
    height: 12px;
    position: absolute;
    top: 0%;
    left: 39%;
    background-color: yellow;
}
.bottom_bars{
    width: 100%;
    height: 130px;
    position: relative;
    top: 30px;
    background-color: aqua;
}
