.main{
    background-color: rgb(254, 68, 0);
    height: 300px;
    width: 100%;
}
.logo{
    background-color: rgb(255, 200, 0);
    top: 30px;
    left: 45%;
    width: 10%;
    height: 26px;
    position: absolute;
}
.time{
    background-color: rgb(255, 200, 0);
    top: 14%;
    left: 44%;
    width: 11%;
    height: 10px;
    position: absolute;
}
.function_bars{
    background-color: rgb(255, 200, 0);
    top: 30%;
    left: 46%;
    width: 13%;
    height: 30%;
    position: absolute;
}
.contact_informations{
    background-color: rgb(255, 200, 0);
    top: 62%;
    left: 46%;
    width: 5%;
    height: 2%;
    position: absolute;
}