

body{
    background-color:black;
}

img{
    max-width: 100%;
}

.top_bar{
    top: 0px;
    left: 2.5%;
    width: 95%;
    height: 50px;
    background-color:black;
    position: relative;
}
.work{
    font-size: 3em;
    left: 50px;
    color: white;
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.about{
    font-size: 3em;
    right: 50px;
    color: white;
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.title01{
    font-size: 2.5em;
    left: 10%;
    position: absolute;
    top: 130px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.creator01{
    font-size: 2em;
    left: 10%;
    position: absolute;
    top: 200px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.year01{
    font-size: 2em;
    left: 10%;
    position: absolute;
    top: 255px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.detailed_description{
    left: 10%;
    top: 350px;
    width: 30%;
    font-size: 1.75em;
    position: absolute;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}


.picture2{
    position: absolute;
    top: 1300px;
    left: 10%;
}

.picture1{
    position: absolute;
    top: 200px;
    right: 10%;
}

.picture3{
    position: absolute;
    top: 750px;
    left: 10%;
}

.picture4{
    position: absolute;
    top: 750px;
    right: 10%;
}

.picture5{
    position: absolute;
    top: 1300px;
    right: 10%;
}

.line{
    background-color: white;
    position: absolute;
    top: 1600px;
    height: 3px;
    left: 5%;
    width: 90%;
}

.instagram_icon{
    position: absolute;
    top: 1900px;
    right: 350px;
}

.twitter_icon{
    position: absolute;
    top: 1900px;
    right: 270px;
}

.facebook_icon{
    position: absolute;
    top: 1900px;
    right: 190px;
}

.empty1{
    width: 90%;
    left: 5%;
    height: 3px;
    top: 1850px;
    background-color: white;
    position: absolute;
}

/*-----------SMART PHONES ----------*/
@media only screen and (max-width:800px){


}


/*----------TABLETS----------*/
@media only screen and (min-width:800px) and (max-width:1280px){



}