<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <div class="top_bar">
        <div class="Work">
            <p class="work">Work</p>
        </div>
        <div class="about">
            <p class="about">About</p>
        </div>
    </div>
    <div class="grouping">

        <div class="project">

            <div class="image_grid">
                <div class="picture1">
                    <img src="img/shoe1.png" alt="shoe1" >
                </div>
                <div class="picture2">
                    <img src="img/shoe2.png" alt="shoe2" >
                </div>
            </div>

            <div class="text">
                <div class="title">
                    <p>Title: Converse 70's</p>
                </div>
                <div class="creator">
                    <p>Creator: Qiang Zheng</p>
                </div>
            </div>

        </div>

        <div class="project">
            <div class="image_grid">
                <div class="picture1">
                    <img src="img/cubic1.png" alt="cubic1" >
                </div>
                <div class="picture2">
                    <img src="img/cubic2.png" alt="cubic2" >
                </div>
            </div>
            <div class="title">
                <p>Title: Cubic Transformation</p>
            </div>
            <div class="creator">
                <p>Creator: Qiang Zheng</p>
            </div>
        </div>

        <div class="project">
            <div class="image_grid">
                <div class="picture1">
                    <img src="img/relief1.png" alt="relief1" >
                </div>
                <div class="picture2">
                    <img src="img/relief2.png" alt="relief2" >
                </div>
            </div>
            <div class="title">
                <p>Title: Relief</p>
            </div>
            <div class="creator">
                <p>Creator: Qiang Zheng</p>
            </div>
        </div>

    <div class="bottom_bar">     
        <div class="instagram_icon">
            <img src="/img/instagram.png" alt="instagram" >
        </div>
        <div class="twitter_icon">
            <img src="/img/twitter.png" alt="twitter" >
        </div>
        <div class="facebook_icon">
            <img src="/img/facebook.png" alt="facebook" >
        </div>
    </div>
</body>
</html>