<!-- start of partials/footer -->

    <div class="bottom_bar">     
        <div class="instagram_icon">
            <img src="/img/instagram.png" alt="instagram" >
        </div>
        <div class="twitter_icon">
            <img src="/img/twitter.png" alt="twitter" >
        </div>
        <div class="facebook_icon">
            <img src="/img/facebook.png" alt="facebook" >
        </div>
    </div>

<!-- end of partials/footer -->