<!-- start of partials/header -->

  <div class="top_bar">
        <div class="work">
            <p><a href="/">Work</a></p>
        </div>
        <div class="about">
            <p><a href="/about/">About</a></p>
        </div>
    </div>

<!-- end of partials/header -->